h1 {
    padding-left: 100px;
}

.table {
    padding: 10px;
    padding-left: 100px;
}

.preview {
    text-align: center;
}

p , .menkyojidou {
    padding-left: 100px;
}

table {
    border-collapse: collapse;
    width: 500px;
    border: solid 2px black;
}

table th , td {
    border: solid 1px;
}

/* table .nentuki {
    border-left: dashed 1px;
} */

.button {
    padding-top: 10px;
}

.btn1 {
    text-align: right;
    padding-right: 100px;
}

.btn2 {
    text-align: left; 
    padding-left: 100px;
}

.kousei {
    text-align: right;
    padding-right: 210px;
}

#seinenngappi , #saisyuugakureki {
    position: relative;
    height: 10px;
    left: 100px;
}

.gakkou {
    padding-left: 100px;
}

.koukou {
    padding-top: 10px;
}

.senmon {
    padding-top: 10px;
}

.daiitisibou {
    padding-left: 100px;
}

.menkyojidou {
    display: none;
}